* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.imagePict {
  background-image: url("https://images.unsplash.com/photo-1621274403937-2b169c3ff6df?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=663&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.pointerCursor {
  cursor: pointer;
}

.borderBottom {
  border: none;
  border-radius: 0;
  border-bottom: 1.5px solid #000;
}

.title {
  text-transform: uppercase;
  letter-spacing: 5px;
}

.boxShadowNone {
  box-shadow: none !important;
}

.fixed-bottom-custom {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

a,
a:hover {
  text-decoration: none;
  color: #fff;
}

.bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg-0 {
  background-image: url("https://images.unsplash.com/photo-1621431724152-d13983e7073b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=632&q=80");
}

.bg-1 {
  background-image: url("https://images.unsplash.com/photo-1621447578191-3869acfdfd6a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
}

.bg-2 {
  background-image: url("https://images.unsplash.com/photo-1621413674239-2d8500bca5b9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
}

.pilihan {
  background-size: cover;
}

.pilihan a {
  transition: all 0.5s;
}

.pilihan a:hover {
  transform: translateY(-10px);
}

.backdropFilterBlur {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.3);
}

.br-7 {
  border-radius: 7px;
}

@media (max-width: 575px) {
  .namaWebsite .title,
  .salam p {
    font-size: 0.9em;
  }
}

@media (min-width: 992px) {
  #keatas {
    opacity: 0;
  }
}

#keatas {
  font-size: 1.4em;
  opacity: 0;
  transition: opacity 0.4s ease;
}

#sidemenu {
  width: 280px;
  transition: 0.25s width ease-in-out;
}

#titleInspeksiPlk {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.menu-item {
  padding: 0;
  display: block;
}

.keluar .btn:hover,
.keluar .btn:active,
.keluar .btn:focus {
  background-color: #e03444;
  color: #fff;
}

.text-clip {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}
