node_modules
public/img/dokumentasi/*
public/img/dokumentasiMaintenance/*
public/img/dokumentasiInspeksi/pelaporanPemulihan/*
public/img/dokumentasiInspeksi/pelaporanKetersediaanKotaP3k/*
public/img/dokumentasiInspeksi/pelaporanKotakP3kC/*
public/img/dokumentasiInspeksi/pelaporanKotakP3kB/*
public/img/dokumentasiInspeksi/pelaporanTenagaKependidikan/*
public/img/dokumentasiInspeksi/pelaporanMahasiswa/*

!public/img/dokumentasi/.ignoreme.txt
!public/img/dokumentasiMaintenance/.ignoreme.txt
!public/img/dokumentasiInspeksi/pelaporanPemulihan/.ignoreme.txt
!public/img/dokumentasiInspeksi/pelaporanKetersediaanKotaP3k/.ignoreme.txt
!public/img/dokumentasiInspeksi/pelaporanKotakP3kC/.ignoreme.txt
!public/img/dokumentasiInspeksi/pelaporanKotakP3kB/.ignoreme.txt
!public/img/dokumentasiInspeksi/pelaporanTenagaKependidikan/mayor/.ignoreme.txt
!public/img/dokumentasiInspeksi/pelaporanTenagaKependidikan/minor/.ignoreme.txt
!public/img/dokumentasiInspeksi/pelaporanMahasiswa/mahasiswaMayor/.ignoreme.txt
!public/img/dokumentasiInspeksi/pelaporanMahasiswa/mahasiswaMinor/.ignoreme.txt

