<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <title>Login</title>
  </head>
  <body>
    <section class="container-fluid">
      <div class="row min-vh-100">
        <div class="col-sm-6 d-none d-lg-block imagePict"></div>
        <div
          class="
            col-sm-12 col-lg-6
            d-flex
            justify-content-center
            align-items-center
          "
        >
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-md-8 col-xl-8">
                <h1 class="text-center mb-3 title">Masuk</h1>
                <%- include("./flash") %>
                <form action="/" method="post" novalidate>
                  <div class="mb-3" id="formId">
                    <label for="email" class="form-label">Email</label>
                    <input
                      type="email"
                      class="form-control borderBottom boxShadowNone"
                      id="email"
                      spellcheck="false"
                      name="username"
                      required
                    />
                    <div class="invalid-feedback">Silahkan diperiksa lagi</div>
                  </div>
                  <div class="mb-3" id="formNama">
                    <label for="password" class="form-label">Password</label>
                    <input
                      type="password"
                      class="form-control borderBottom boxShadowNone"
                      id="password"
                      name="password"
                      required
                      spellcheck="false"
                    />
                    <div class="invalid-feedback">Silahkan diperiksa lagi</div>
                  </div>

                  <div class="text-center text-lg-start mt-5" id="submitButton">
                    <button type="submit" class="btn btn-dark w-100">
                      Masuk
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/js/loginJS.js"></script>
  </body>
</html>
