<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/bootstrap-fileinput/js/fileinput.min.js"></script>
<script src="/bootstrap-fileinput/js/locales/id.js"></script>
<script src="/bootstrap-fileinput/themes/fas/theme.js"></script>
<script src="/js/sidebarJs.js"></script>
<script src="/flatpickr/dist/flatpickr.min.js"></script>
<script src="/flatpickr/dist/l10n/id.js"></script>
<script src="/js/flatpicker-command.js"></script>
<!-- ===== select2 ===== -->
<script src="/select2/dist/js/select2.min.js"></script>
<script src="/js/maintenanceJs.js"></script>
</body>
</html>