<%- include("templateP3k/head") %>
<div class="card shadow-sm">
  <div class="card-body">
    <h3 class="card-title fw-bolder mb-3">
      Pengisian Data Ketersediaan Perlengkapan Kotak P3K - Kotak P3K tipe B
    </h3>
    <form action="#" method="POST" spellcheck="false" autocomplete="off">
      <div class="mb-3 row">
        <div class="col-sm-6 d-flex flex-column mb-2 mb-sm-1">
          <label for="tanggal" class="form-label">Tanggal Inspeksi</label>
          <div class="input-group border-0 datepicker">
            <input
              type="text"
              id="tanggal"
              class="form-control border-0"
              name="tanggal"
              required
              title="Harap isi form ini"
              data-input
            />
            <span class="input-group-text border-0" data-toggle>
              <i class="far fa-calendar"></i>
            </span>
          </div>
        </div>
        <div class="col-sm-6 d-flex flex-column mb-2 mb-sm-1">
          <label for="namaInspektor" class="form-label">Nama Inspektor</label>
          <input
            type="text"
            class="form-control"
            id="namaInspektor"
            name="namaInspektor"
            title="Harap isi form ini"
            required
          />
        </div>
      </div>
      <div class="mb-3 row">
        <div class="col-sm-6 d-flex flex-column mb-2 mb-sm-1">
          <label for="nrp" class="form-label">NRP/NIK</label>
          <input
            type="text"
            id="nrp"
            class="form-control"
            name="nrp"
            required
            title="Harap isi form ini"
          />
        </div>
        <div class="col-sm-6 d-flex flex-column mb-2 mb-sm-1">
          <label for="letakKotakP3k" class="form-label">Letak kotak P3K</label>
          <select name="letakKotakP3k" class="select2" id="letakKotakP3k">
            <option></option>
            <option>Lab. Elektronika Daya</option>
            <option>Lab. Elektronika dan Sistem Kontrol</option>
            <option>Lab. Kimia</option>
            <option>Lab. Fisika</option>
            <option>Lab. Instrumentasi</option>
            <option>
              Lab. Pengembangan Bisnis Maritim dan Galeri Investasi
            </option>
            <option>Lab. Navigasi dan Komunikasi</option>
            <option>Lab. Logistik Maritim</option>
            <option>Lab. Reparasi Listrik</option>
            <option>Lab. Mesin Listrik</option>
            <option>Lab. Otomasi dan Robotik</option>
            <option>Lab. Plumbing dan Pemodelan Sistem Perpipaan</option>
            <option>Lab. CNC</option>
            <option>Lab. Pemadam Kebakaran</option>
            <option>Lab. Pneumatik dan Hidrolik</option>
            <option>Lab. Motor Bakar</option>
            <option>Lab. CADD</option>
            <option>Lab. Uji Bahan</option>
            <option>Lab. Pengolahan Limbah</option>
            <option>Bengkel Reparasi Mesin</option>
          </select>
        </div>
      </div>
      <h5>Isi kotak P3K :</h5>
      <div class="mb-3 row justify-content-evenly">
        <div class="col-sm-6 col-md-4 col-lg-3">
          <label for="kasaSteril" class="form-label"
            >Kasa Steril Terbungkus</label
          >
          <div class="mb-2 input-group">
            <input
              type="number"
              class="form-control"
              id="kasaSteril"
              name="kasaSteril"
              required
              min="0"
            />
            <span class="input-group-text">/40</span>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <label for="perban5Cm" class="form-label">Perban (lebar 5 cm)</label>
          <div class="mb-2 input-group">
            <input
              type="number"
              class="form-control"
              id="perban5Cm"
              name="perban5Cm"
              title="Harap isi data ini"
              min="0"
              required
            />
            <span class="input-group-text">/4</span>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <label for="perban10Cm" class="form-label"
            >Perban (lebar 10 cm)</label
          >
          <div class="mb-2 input-group">
            <input
              type="number"
              class="form-control"
              id="perban10Cm"
              name="perban10Cm"
              title="Harap isi data ini"
              min="0"
              required
            />
            <span class="input-group-text">/4</span>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <label for="plesterBiasa" class="form-label"
            >Plester (lebar 1,25 cm)</label
          >
          <div class="mb-2 input-group">
            <input
              type="number"
              class="form-control"
              id="plesterBiasa"
              name="plesterBiasa"
              title="Harap isi data ini"
              min="0"
              required
            />
            <span class="input-group-text">/4</span>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <label for="plesterCepat" class="form-label">Plester Cepat</label>
          <div class="mb-2 input-group">
            <input
              type="number"
              class="form-control"
              id="plesterCepat"
              name="plesterCepat"
              title="Harap isi data ini"
              min="0"
              required
            />
            <span class="input-group-text">/15</span>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <label for="kapas" class="form-label">Kapas (25 gram)</label>
          <div class="mb-2 input-group">
            <input
              type="number"
              class="form-control"
              id="kapas"
              name="kapas"
              title="Harap isi data ini"
              min="0"
              required
            />
            <span class="input-group-text">/2</span>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <label for="kainSegitiga" class="form-label"
            >Kain segitiga/mittela</label
          >
          <div class="mb-2 input-group">
            <input
              type="number"
              class="form-control"
              id="kainSegitiga"
              name="kainSegitiga"
              title="Harap isi data ini"
              min="0"
              required
            />
            <span class="input-group-text">/4</span>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <label for="gunting" class="form-label">Gunting</label>
          <div class="mb-2 input-group">
            <input
              type="number"
              class="form-control"
              id="gunting"
              name="gunting"
              title="Harap isi data ini"
              min="0"
              required
            />
            <span class="input-group-text">/1</span>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <label for="peniti" class="form-label">Peniti</label>
          <div class="mb-2 input-group">
            <input
              type="number"
              class="form-control"
              id="peniti"
              name="peniti"
              title="Harap isi data ini"
              min="0"
              required
            />
            <span class="input-group-text">/12</span>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <label for="sarungTangan" class="form-label"
            >Sarung tangan sekali pakai</label
          >
          <div class="mb-2 input-group">
            <input
              type="number"
              class="form-control"
              id="sarungTangan"
              name="sarungTangan"
              title="Harap isi data ini"
              min="0"
              required
            />
            <span class="input-group-text">/3</span>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <label for="masker" class="form-label">Masker</label>
          <div class="mb-2 input-group">
            <input
              type="number"
              class="form-control"
              id="masker"
              name="masker"
              title="Harap isi data ini"
              min="0"
              required
            />
            <span class="input-group-text">/1</span>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <label for="pinset" class="form-label">Pinset</label>
          <div class="mb-2 input-group">
            <input
              type="number"
              class="form-control"
              id="pinset"
              name="pinset"
              title="Harap isi data ini"
              min="0"
              required
            />
            <span class="input-group-text">/1</span>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <label for="lampuSenter" class="form-label">Lampu senter</label>
          <div class="mb-2 input-group">
            <input
              type="number"
              class="form-control"
              id="lampuSenter"
              name="lampuSenter"
              title="Harap isi data ini"
              min="0"
              required
            />
            <span class="input-group-text">/1</span>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <label for="gelasCuciMata" class="form-label"
            >Gelas untuk cuci mata</label
          >
          <div class="mb-2 input-group">
            <input
              type="number"
              class="form-control"
              id="gelasCuciMata"
              name="gelasCuciMata"
              title="Harap isi data ini"
              min="0"
              required
            />
            <span class="input-group-text">/2</span>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <label for="kantongPlastik" class="form-label"
            >Kantong plastik bersih</label
          >
          <div class="mb-2 input-group">
            <input
              type="number"
              class="form-control"
              id="kantongPlastik"
              name="kantongPlastik"
              title="Harap isi data ini"
              min="0"
              required
            />
            <span class="input-group-text">/1</span>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <label for="aquades" class="form-label"
            >Aquades (100 ml Iar. Saline)</label
          >
          <div class="mb-2 input-group">
            <input
              type="number"
              class="form-control"
              id="aquades"
              name="aquades"
              title="Harap isi data ini"
              min="0"
              required
            />
            <span class="input-group-text">/1</span>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <label for="povidone" class="form-label"
            >Povidone iodin (60 ml)</label
          >
          <div class="mb-2 input-group">
            <input
              type="number"
              class="form-control"
              id="povidone"
              name="povidone"
              title="Harap isi data ini"
              min="0"
              required
            />
            <span class="input-group-text">/1</span>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <label for="alkohol" class="form-label">Alkohol 70%</label>
          <div class="mb-2 input-group">
            <input
              type="number"
              class="form-control"
              id="alkohol"
              name="alkohol"
              title="Harap isi data ini"
              min="0"
              required
            />
            <span class="input-group-text">/1</span>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <label for="bukuPanduan" class="form-label">Buku panduan P3K</label>
          <div class="mb-2 input-group">
            <input
              type="number"
              class="form-control"
              id="bukuPanduan"
              name="bukuPanduan"
              title="Harap isi data ini"
              min="0"
              required
            />
            <span class="input-group-text">/1</span>
          </div>
        </div>
      </div>
      <div class="d-flex flex-column d-lg-block text-start text-lg-center">
        <button type="reset" class="btn btn-danger mt-3">Clear</button>
        <button type="submit" class="btn btn-success mt-3">Submit</button>
      </div>
    </form>
  </div>
</div>
<%- include("templateP3k/footer") %>
