<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/bootstrap-fileinput/js/fileinput.min.js"></script>
<script src="/bootstrap-fileinput/js/locales/id.js"></script>
<script src="/bootstrap-fileinput/themes/fas/theme.js"></script>
<script src="/flatpickr/dist/flatpickr.min.js"></script>
<script src="/flatpickr/dist/l10n/id.js"></script>
<script src="/js/flatpicker-command.js"></script>
<!-- ===== select2 ===== -->
<script src="/select2/dist/js/select2.min.js"></script>
<script src="/js/customSelect2.js"></script>

<!-- ======= data table ========= -->
<script src="/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>


<!-- ============= MOMENT JS ========= -->
<script src="/moment/min/moment-with-locales.min.js"></script>
<script src="/js/dateMomentSorting.js"></script>


<!-- Highcharts -->
<script src="/highcharts/highcharts.js"></script>

<!-- jspdf -->
<script src="/js/tableHTMLExport.js"></script>
<script src="/jspdf/dist/jspdf.umd.js"></script>
<script src="/jspdf-autotable/dist/jspdf.plugin.autotable.min.js"></script>

<!-- custom JS -->
<script src="/js/p3k2Js.js"></script>
</body>
</html>
