<%- include("templateMaintenance/head") %>
<div class="card shadow pb-4">
  <div class="card-header pt-3 px-4 bg-white border-0">
    <h3 class="card-title fw-bolder fs-3 m-0">Dashboard Maintenance</h3>
  </div>
  <div class="card-body px-4">
    <div class="card shadow-sm">
      <div class="card-header pt-3 px-4 bg-white border-0">
        <h3
          class="
            card-title
            fw-bolder
            fs-3
            m-0
            text-center text-primary text-uppercase
          "
        >
          Pemberitahuan
        </h3>
      </div>
      <div class="card-body px-4">
        <div class="container my-3">
          <div class="row">
            <div
              class="
                col-12
                px-3
                py-2
                d-flex
                justify-content-between
                align-items-center
                shadow-sm
                rounded-pill
              "
            >
              <p class="fs-5 m-0">Terdapat permintaan maintenance</p>
              <a
                href="#"
                class="text-uppercase fs-5 btn btn-primary rounded-pill px-3"
                >Detail</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include("templateMaintenance/footer") %>
