<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- ===== BOX ICONS ===== -->
    <link rel="stylesheet" href="/boxicons/css/boxicons.min.css" />

    <!-- ===== BOOTSTRAP 5 ===== -->

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <!-- ===== select2 ===== -->
    <link rel="stylesheet" href="/select2/dist/css/select2.min.css" />

    <!-- ===== select2 - Bootstrap Theme ===== -->
    <link
      rel="stylesheet"
      href="/@ttskch/select2-bootstrap4-theme/dist/select2-bootstrap4.min.css"
    />
    <!-- ===== CSS ===== -->
    <link rel="stylesheet" href="/css/stylesSidebar.css" />
    <link rel="stylesheet" href="/css/stylesInspeksi.css" />

    <!-- ===== Font Awesome ===== -->
    <link
      rel="stylesheet"
      href="/@fortawesome/fontawesome-free/css/all.min.css"
    />

    <!-- ===== File Input ===== -->
    <link rel="stylesheet" href="/bootstrap-fileinput/css/fileinput.min.css" />

    <!-- ===== flatpickr ===== -->
    <link rel="stylesheet" href="/flatpickr/dist/flatpickr.min.css" />

    <title>Inspeksi K3 PPNS</title>
  </head>
  <body id="body-pd" class="bg-light">
    <header class="header shadow" id="header">
      <div class="header__toggle">
        <i class="bx bx-menu" id="header-toggle"></i>
      </div>

      <div style="display: flex; align-items: center; justify-content: s">
        <div class="header__img">
          <img src="/img/perfil.jpg" alt="" />
        </div>
      </div>
    </header>

    <div class="l-navbar" id="nav-bar">
      <nav class="nav">
        <div>
          <a href="#" class="nav__logo">
            <i class="bx bx-briefcase nav__logo-icon"></i>
            <span class="nav__logo-name">Inspeksi K3 PPNS</span>
          </a>

          <div class="nav__list">
            <a href="#" class="nav__link active">
              <i class="bx bx-search-alt"></i>
              <span class="nav__name">Inspeksi PLK</span>
            </a>
            <a href="#" class="nav__link">
              <i class="bx bx-history"></i>
              <span class="nav__name">Riwayat Pengukuran</span>
            </a>
          </div>
        </div>

        <a href="#" class="nav__link">
          <i class="bx bx-log-out nav__icon"></i>
          <span class="nav__name">Keluar</span>
        </a>
      </nav>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card shadow-sm h-100 pb-5">
            <div class="card-body">
              <h3
                class="card-title fw-bolder fs-3 mb-4 d-flex align-items-center"
              >
                Form Inspeksi
              </h3>
              <form spellcheck="false" autocomplete="off">
                <!-- ======================================MODAL============================================================================ -->
                <div class="modal fade" id="iklimkerja" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered modal-xl">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">FORM IKLIM KERJA</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <div class="table-responsive">
                          <table class="table">
                            <thead>
                              <tr >
                                <th class="align-middle text-center min-width-100">Usia</th>
                                <th class="align-middle text-center min-width-100">BB</th>
                                <th class="align-middle text-center min-width-100">Lokasi Pengukuran</th>
                                <th class="align-middle text-center min-width-100">Suhu Basah (<span>&#176;</span>C)</th>
                                <th class="align-middle text-center min-width-100">Suhu Kering (<span>&#176;</span>C)</th>
                                <th class="align-middle text-center min-width-100">Suhu Bola (<span>&#176;</span>C)</th>
                                <th class="align-middle text-center min-width-100">WGBT(ISBB) (<span>&#176;</span>C)</th>
                                <th class="align-middle text-center min-width-100">RH (%)</th>
                                <th class="align-middle text-center min-width-100">Beban Kerja (KG)</th>
                              </tr>
                            </thead>
                            <tbody id="wadahFormIklimKerja">
                              
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
 
                      </div>
                    </div>
                  </div>
                </div>
                <!-- ======================================/MODAL============================================================================ -->
                <div class="row">
                  <div class="mb-3">
                    <label for="namapengukur" class="form-label"
                        >Nama Pengukur</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="namapengukur"
                        required
                      />
                  </div>
                  <div class="mb-3">
                    <label for="lokasi" class="form-label"
                      >Lokasi Pengukuran
                    </label>
                    <select
                      class="form-select select2"
                      id="lokasiPengukuran"
                      name="lokasiPengukuran"
                      aria-label="Default select example"
                    >
                      <option></option>
                      <% for (const tempat of tempats) { %>
                      <option value="<%= tempat.nama %>">
                        <%= tempat.nama %>
                      </option>
                      <% } %>
                    </select>
                  </div>
                  <div class="mb-3 row">
                    <div class="col-sm-6 d-flex flex-column mb-3">
                      <label for="tanggal" class="form-label"
                        >Tanggal Pengukuran</label
                      >
                      <div class="input-group border-0 datepicker">
                        <input
                          type="text"
                          id="tanggal"
                          class="form-control border-0"
                          name="tanggal"
                          required
                          title="Harap isi form ini"
                          data-input
                        />
                        <span class="input-group-text border-0" data-toggle>
                          <i class="bx bx-calendar"></i>
                        </span>
                      </div>
                    </div>
                    <div class="col-sm-6 d-flex flex-column mb-3">
                      <label for="waktu" class="form-label">Waktu</label>
                      <div class="input-group border-0 datepicker-time">
                        <input
                          type="text"
                          id="waktu"
                          class="form-control border-0"
                          name="waktu"
                          required
                          title="Harap isi form ini"
                          data-input
                        />
                        <span class="input-group-text border-0" data-toggle>
                          <i class="bx bx-time"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="dokumentasi" class="form-label"
                      >Dokumentasi</label
                    >
                    <input
                      class="form-control"
                      type="file"
                      id="dokumentasi"
                      name="dokumentasi"
                      multiple
                    />
                  </div>
                  <div class="mb-3">
                    <div class="row justify-content-center">
                      <div class="col-sm-8 d-flex justify-content-center">
                        <img src="" class="img-fluid denah" alt="" />
                      </div>
                      <div class="col-sm-4 d-flex align-items-center">
                        <img src="" class="img-fluid keterangan" alt="" />
                      </div>
                    </div>
                  </div>
                  <div class="row mb-3">
                      <div class="col-lg-6 mb-3 d-flex flex-column" id="wrapper-kebisingan">
                        <label class="form-label">Kebisingan</label>
                        <a href="#" class="btn btn-primary">FORM KEBISINGAN  </a>
                      </div>
                      <div class="col-lg-6 mb-3 d-flex flex-column" id="wrapper-getaran">
                        <label class="form-label">Getaran</label>
                        <a href="#" class="btn btn-primary">FORM GETARAN</a>
                      </div>
                      <div class="col-lg-6 mb-3 d-flex flex-column" id="wrapper-ventilasi">
                        <label class="form-label">Ventilasi</label>
                        <a href="#" class="btn btn-primary">FORM VENTILASI</a>
                      </div>
                      <div class="col-lg-6 mb-3 d-flex flex-column" id="wrapper-pencahayaan">
                        <label class="form-label">Pencahayaan</label>
                        <a href="#" class="btn btn-primary">FORM PENCAHAYAAN</a>
                      </div>
                      <div class="col-lg-6 mb-3 d-flex flex-column" id="wrapper-iklimkerja">
                        <label class="form-label">Iklim Kerja</label>
                        <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#iklimkerja">FORM IKLIM KERJA</a>
                      </div>
                    </div>
                    <div class="mb-3">
                      <label for="rekomendasi" class="form-label"
                          >Rekomendasi</label
                        >
                        <textarea name="rekomendasi" id="rekomendasi" class="form-control" rows="3"></textarea>
                    </div>
                  </div>
                </div>
                <button type="reset" class="btn btn-danger">Clear</button>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/bootstrap-fileinput/js/fileinput.min.js"></script>
    <script src="/bootstrap-fileinput/js/locales/id.js"></script>
    <script src="/bootstrap-fileinput/themes/fas/theme.js"></script>
    <script src="/js/sidebarJs.js"></script>
    <script>
      const tempats = `<%- JSON.stringify(tempats) %>`
      const parsed = JSON.parse(tempats)
    </script>
    <script src="/js/inspeksiJs.js"></script>
    <script src="/js/perhitunganInspeksi.js"></script>
    <script src="/flatpickr/dist/flatpickr.min.js"></script>
    <script src="/flatpickr/dist/l10n/id.js"></script>
    <script src="/js/flatpicker-command.js"></script>
    <script src="/select2/dist/js/select2.min.js"></script>
    
    
  </body>
</html>
