<script src="/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/bootstrap-fileinput/js/fileinput.min.js"></script>
<script src="/bootstrap-fileinput/js/locales/id.js"></script>
<script src="/bootstrap-fileinput/themes/fas/theme.js"></script>
<script src="/js/sidebarJs.js"></script>
<script>
 
    const tempats = `<%- JSON.stringify(tempats) %>`
    
    const parsed = JSON.parse(tempats)
</script>
<script src="/js/inspeksiJs.js"></script>
<script src="/js/perhitunganInspeksi.js"></script>
<script src="/flatpickr/dist/flatpickr.min.js"></script>
<script src="/flatpickr/dist/l10n/id.js"></script>
<script src="/js/flatpicker-command.js"></script>
<script src="/select2/dist/js/select2.min.js"></script>
<script src="/js/tableHTMLExport.js"></script>
<script src="/jspdf/dist/jspdf.umd.js"></script>
<script src="/jspdf-autotable/dist/jspdf.plugin.autotable.min.js"></script>
<script src="/js/riwayatJs.js"></script>

</body>
</html>